---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Alexágono</title>
	</head>
	<body>
        <style>
            @font-face {
                font-family: "visby" ;
                src: url("../fonts/VisbyRoundCF-Regular.otf");
        }
        @font-face {
                font-family: "visby-extrabold" ;
                src: url("../fonts/VisbyRoundCF-ExtraBold.otf");
        }
        @font-face {
                font-family: "visby-light" ;
                src: url("../fonts/VisbyRoundCF-Light.otf");
        }
        @font-face {
                font-family: "visby-Demibold" ;
                src: url("../fonts/VisbyRoundCF-DemiBold.otf");
        }

    
        h1{
            font-family: visby-Demibold;
            color: #FFFFFF;
        }

        p{
            font-family: visby-Demibold;
        }
        #clientes-estilos{
            background-color: #8A92C9;
            padding: 10%;
        }
        </style>
        <div id="clientes-estilos">
            <h1>Nuestros aliados</h1>
        </div>

    </body>
</html>
