---

---
<style>

    @font-face {
			font-family: "visby" ;
			src: url("../fonts/VisbyRoundCF-Regular.otf");
	}

    a{
        color: #FFFFFF;
        text-decoration: none;
        transition: ease-in;
    }
    a:visited{
        color: #FFFFFF;
        text-decoration: none;
    }

    a:hover{
        color: #FFFFFF;
        text-decoration: ;
    }

    a:active{
        color: #FFFFFF;
        text-decoration: none;
    }

    .c-header{
    display:flex;
    position: sticky;
    width: 100%;
    top: 0;
    justify-content: flex-start;
    background-color: transparent;

    }

    .header{
        display: flex;
    }

    .c-logo{
        margin: 15px;
    }

    .logo{
        height: 50px;
        width: 50px;
        display: flex;
    }

    .c-marca{
        display: flex;
        color: white;
        font-size: 15px;
        font-family: visby;
    }

    .marca{
        display: flex;
    }

    .c-menu{
        display: flex;
        margin-top: 32px;
        margin-left: 250px;

    }

    .menu{
        display: flex;
        font-family: visby;
    }

    .tabs{
        margin-right: 25px;
    }

    .c-principal{
        display: flex;
        justify-content: center;
        margin-top: 2%;
        color: white;
        font-family: visby;

    }
</style>

<div class="c-header">
    <div class="header">
        <div class="c-logo">
            <div class="logo">
                <!--Insert SVG Here -->
            </div>
        </div>
        <div class="c-marca">
            <div class="marca">
                <h1>Alexágono Software</h1>
            </div>
        </div>

        <div class="c-menu">
            <div class="menu">
                <div class="tabs">
                    <a href="#Inicio">Inicio</a>
                </div>
                <div class="tabs">
                    <a href="#Nosotros">Nosotros</a>
                </div>
                <div class="tabs">
                    <a href="#Servicios">Servicios</a>
                </div>
                <div class="tabs">
                    <a href="#Clientes">Clientes</a>
                </div>
                <div class="tabs">
                    <a href="#Contacto">Contacto</a>
                </div>

            </div>
        </div>
    </div>
</div>