---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Alexágono</title>
	</head>
	<body>

        <style>
            @font-face {
                font-family: "visby" ;
                src: url("../fonts/VisbyRoundCF-Regular.otf");
        }
        @font-face {
                font-family: "visby-extrabold" ;
                src: url("../fonts/VisbyRoundCF-ExtraBold.otf");
        }
        @font-face {
                font-family: "visby-light" ;
                src: url("../fonts/VisbyRoundCF-Light.otf");
        }
    
        h3{
            font-family: visby-light;
            color: #FFFFFF;
        }

        h1{
            font-family: visby-extrabold;
        }

        .title{
            color: #1B2A57;
        }

        #inicio{
            background-color: #8A92C9;
            padding: 10%;
        }
        </style>
        <div id="inicio">
            <h3 class="title">Tecnología accessible para todos</h3>
            <h1>Innovación tecnológica en un mundo digital colectivo</h1>
            <h3>Creemos en la fuerza del colectivo, donde cada línea de código
               es un eslabón en la cadena de una visión compartida.
            </h3>
            <h3>
               Únete a nosotros y juntos, forjemos un camino hacia un mañana digital
               que todos construimos y compartimos
            </h3>
        </div>
    </body>
</html>
