---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Alexágono</title>
	</head>
	<body>
        <style>
            @font-face {
                font-family: "visby" ;
                src: url("../fonts/VisbyRoundCF-Regular.otf");
        }
        @font-face {
                font-family: "visby-extrabold" ;
                src: url("../fonts/VisbyRoundCF-ExtraBold.otf");
        }
        @font-face {
                font-family: "visby-light" ;
                src: url("../fonts/VisbyRoundCF-Light.otf");
        }
        @font-face {
                font-family: "visby-Demibold" ;
                src: url("../fonts/VisbyRoundCF-DemiBold.otf");
        }

    
        h1{
            font-family: visby-Demibold;
        }

        p{
            font-family: visby-Demibold;
        }
        #nosotros{
            background-color: #8A92C9;
            color: #FFFFFF;
            padding: 10%;
        }
        </style>
        <div id="nosotros">
            <h1>¿Qué acerca de nosotros?</h1>
            <p>
                En Alexágono, sacamos la chamba. No solo somos coders, ¡Somos
                la banda que transforma retos en pura chispa digital!
            </p>
            <p>
                Aquí, la accesibilidad y la institucionalidad son el ritmo que nos mueve.
                Rompemos paradigmas, por que creemos en un futuro digital donde todos somos
                parte de la movida.
            </p>
            <p>
                ¡Únete a la revolución tech, donde cada línea de código es un paso hacia adelante
                en nuestra onda colectiva!
            </p>
        </div>
    </body>
</html>
