---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Alexágono</title>
	</head>
	<body>
        <style>
        @font-face {
                font-family: "visby" ;
                src: url("../fonts/VisbyRoundCF-Regular.otf");
        }
        @font-face {
                font-family: "visby-extrabold" ;
                src: url("../fonts/VisbyRoundCF-ExtraBold.otf");
        }
        @font-face {
                font-family: "visby-light" ;
                src: url("../fonts/VisbyRoundCF-Light.otf");
        }
        @font-face {
                font-family: "visby-Demibold" ;
                src: url("../fonts/VisbyRoundCF-DemiBold.otf");
        }

        h1{
            font-family: visby-extrabold;
        }
        
        h2{
            font-family: visby-Demibold;
        }

        li{
            font-family: visby-Demibold;
        }
        #servicios-alexagono{
            background-color: #6062AC;
            color: #FFFFFF;
        }
        #valor-servicios{
            background-color: #1E1E1E;
            color: #FFFFFF;
        }
        </style>
        <div id="servicios-alexagono">
            <h1>Servicios</h1>
            <div class="inteligencia-negocios">
                <h2>Inteligencia de negocios</h2>
                <ol>
                    <li>Administración y creación de contenido de redes sociales</li>
                    <li>Posicionamiento para redes sociales</li>
                    <li>Estrategia y seguimiento de SEO y SEM</li>
                    <li>Ciencia de datos y automatización</li>
                </ol>
            </div>
            <div class="web-design">
                <h2>Diseño web</h2>
                <ol>
                    <li>Diseño de Interfaces innovadoras e interesantes (UX/UI)</li>
                    <li>Páginas web</li>
                    <li>Estrategia y seguimiento de SEO y SEM</li>
                    <li>Ciencia de datos y automatización</li>
                </ol>
            </div>
        </div>
        <div id="valor-servicios">
            <h2>El valor de nuestro servicios</h2>
            <div class="nuestros-servicios">
                <div class="inteligencia">
                    <h2>Inteligencia de negocios</h2>
                    <ol>
                        <li>Diseño de Interfaces innovadoras e interesantes (UX/UI)</li>
                        <li>Páginas web</li>
                        <li>Estrategia y seguimiento de SEO y SEM</li>
                        <li>Ciencia de datos y automatización</li>
                    </ol>
                </div>
                <div class="desarrollo-web">
                    <h2>Desarrollo web</h2>
                    <ol>
                        <li>Diseño de Interfaces innovadoras e interesantes (UX/UI)</li>
                        <li>Páginas web</li>
                        <li>Estrategia y seguimiento de SEO y SEM</li>
                        <li>Ciencia de datos y automatización</li>
                    </ol>
                </div>
                <div class="desrrollo-software">
                    <h2>Desarrollo de Software</h2>
                    <ol>
                        <li>Diseño de Interfaces innovadoras e interesantes(UX/UI)</li>
                        <li>Integración de sistemas</li>
                        <li>Software a medida</li>
                        <li>Software de escritorio</li>
                    </ol>
                </div>
            </div>
        </div>
    </body>
</html>
